<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <ul class="list-inline text-center">
                    {% if site.RSS %}
                    <li>
                        <a href="{{ "/feed.xml" | prepend: site.baseurl }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    <!-- add jianshu add target = "_blank" to <a> by BY -->
                    {% if site.jianshu_username %}
                            <li>
                                <a target="_blank" href="https://www.jianshu.com/u/{{ site.jianshu_username }}">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa  fa-stack-1x fa-inverse">简</i>
                                    </span>
                                </a>
                            </li>
                    {% endif %}
                    {% if site.twitter_username %}
                    <li>
                        <a href="https://twitter.com/{{ site.twitter_username }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}

                    <!-- add Weibo, Zhihu by Hux, add target = "_blank" to <a> by Hux -->
                    {% if site.zhihu_username %}
                    <li>
                        <a target="_blank" href="https://www.zhihu.com/people/{{ site.zhihu_username }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa  fa-stack-1x fa-inverse">知</i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    {% if site.weibo_username %}
                    <li>
                        <a target="_blank" href="http://weibo.com/{{ site.weibo_username }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-weibo fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}


                    {% if site.facebook_username %}
                    <li>
                        <a target="_blank" href="https://www.facebook.com/{{ site.facebook_username }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    {% if site.github_username %}
                    <li>
                        <a target="_blank" href="https://github.com/{{ site.github_username }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    {% if site.linkedin_username %}
                    <li>
                        <a target="_blank" href="https://www.linkedin.com/in/{{ site.linkedin_username }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
                <p class="copyright text-muted">
                    Copyright &copy; {{ site.title }} {{ site.time | date: '%Y' }}
                    <br>
                    Theme on <a href="{{ site.github_repo }}">GitHub</a> |
                    <iframe
                        style="margin-left: 2px; margin-bottom:-5px;"
                        frameborder="0" scrolling="0" width="100px" height="20px"
                        src="https://ghbtns.com/github-btn.html?user={{ site.github_username }}&repo={{ site.github_username }}.github.io&type=star&count=true" >
                    </iframe>
                </p>
            </div>
        </div>
    </div>
</footer>

<!-- jQuery -->
<script src="{{ "/js/jquery.min.js " | prepend: site.baseurl }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ "/js/bootstrap.min.js " | prepend: site.baseurl }}"></script>

<!-- Custom Theme JavaScript -->
<script src="{{ "/js/hux-blog.min.js " | prepend: site.baseurl }}"></script>

<!-- Service Worker -->
{% if site.service-worker %}
<script type="text/javascript">
    if(navigator.serviceWorker){
        // For security reasons, a service worker can only control the pages that are in the same directory level or below it. That's why we put sw.js at ROOT level.
        navigator.serviceWorker
            .register('/sw.js')
            .then((registration) => {console.log('Service Worker Registered. ', registration)})
            .catch((error) => {console.log('ServiceWorker registration failed: ', error)})
    }
</script>
{% endif %}


<!-- async load function -->
<script>
    function async(u, c) {
      var d = document, t = 'script',
          o = d.createElement(t),
          s = d.getElementsByTagName(t)[0];
      o.src = u;
      if (c) { o.addEventListener('load', function (e) { c(null, e); }, false); }
      s.parentNode.insertBefore(o, s);
    }
</script>

<!-- 
     Because of the native support for backtick-style fenced code blocks 
     right within the Markdown is landed in Github Pages, 
     From V1.6, There is no need for Highlight.js, 
     so Huxblog drops it officially.

     - https://github.com/blog/2100-github-pages-now-faster-and-simpler-with-jekyll-3-0  
     - https://help.github.com/articles/creating-and-highlighting-code-blocks/ 
     - https://github.com/jneen/rouge/wiki/list-of-supported-languages-and-lexers   
-->
<!--
    <script>
        async("http://cdn.bootcss.com/highlight.js/8.6/highlight.min.js", function(){
            hljs.initHighlightingOnLoad();
        })
    </script>
    <link href="http://cdn.bootcss.com/highlight.js/8.6/styles/github.min.css" rel="stylesheet">
-->


<!-- jquery.tagcloud.js -->
<script>
    // only load tagcloud.js in tag.html
    if($('#tag_cloud').length !== 0){
        async('{{ "/js/jquery.tagcloud.js" | prepend: site.baseurl }}',function(){
            $.fn.tagcloud.defaults = {
                //size: {start: 1, end: 1, unit: 'em'},
                color: {start: '#bbbbee', end: '#0085a1'},
            };
            $('#tag_cloud a').tagcloud();
        })
    }
</script>

<!--fastClick.js -->
<script>
    async("//cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.min.js", function(){
        var $nav = document.querySelector("nav");
        if($nav) FastClick.attach($nav);
    })
</script>


<!-- Google Analytics -->
{% if site.ga_track_id %}
<script>
    // dynamic User by Hux
    var _gaId = '{{ site.ga_track_id }}';
    var _gaDomain = '{{ site.ga_domain }}';

    // Originial
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', _gaId, _gaDomain);
    ga('send', 'pageview');
</script>
{% endif %}


<!-- Baidu Tongji -->
{% if site.ba_track_id %}
<script>
    // dynamic User by Hux
    var _baId = '{{ site.ba_track_id }}';

    // Originial
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?" + _baId;
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
</script>
{% endif %}



<!-- Side Catalog -->
{% if page.catalog %}
<script type="text/javascript">
    function generateCatalog (selector) {
        //var P = $('div.post-container'),a,n,t,l,i,c;
        //a = P.find('h1,h2,h3,h4,h5,h6');
        //a.each(function () {
            //n = $(this).prop('tagName').toLowerCase();
            //i = "#"+$(this).prop('id');
            //t = $(this).text();
            //c = $('<a href="'+i+'" rel="nofollow">'+t+'</a>');
            //l = $('<li class="'+n+'_nav"></li>').append(c);
            //$(selector).append(l);
        //});
        //return true;
        
        var P = $('div.post-container'),h1a,h2a,h3a,h4a,h5a,h6a,h1n,h2n,h3n,h4n,h5n,h6n,h1t,h2t,h3t,h4t,h5t,h6t,h1l,h2l,h3l,h4l,h5l,h6l,h1i,h2i,h3i,h4i,h5i,h6i,h1c,h2c,h3c,h4c,h5c,h6c;
        h1a = P.find('h1');
        h1a.each(function () {
            h1n = $(this).prop('tagName').toLowerCase();
            h1t = $(this).text();
            h1c = $('<a href="'+h1i+'" rel="nofollow">'+h1t+'</a>');
            h1l = $('<li class="'+h1n+'_nav"></li>').append(h1c);
            
            h2a = $(this).nextUntil('h1','h2');
            h2a.each(function() {
                h2n = $(this).prop('tagName').toLowerCase();
                h2t = $(this).text();
                h2c = $('<a href="'+h2i+'" rel="nofollow">'+h2t+'</a>');
                h2l = $('<ol class="'+h2n+'_nav"></ol>').append(h2c);     
                     
                h3a = $(this).nextUntil('h2','h3');
                h3a.each(function() {
                    h3n = $(this).prop('tagName').toLowerCase();
                    h3t = $(this).text();
                    h3c = $('<a href="'+h3i+'" rel="nofollow">'+h3t+'</a>');
                    h3l = $('<ol class="'+h3n+'_nav"></ol>').append(h3c);    
            
                    h4a = $(this).nextUntil('h3','h4');
                    h4a.each(function() {
                        h4n = $(this).prop('tagName').toLowerCase();
                        h4t = $(this).text();
                        h4c = $('<a href="'+h4i+'" rel="nofollow">'+h4t+'</a>');
                        h4l = $('<ol class="'+h4n+'_nav"></ol>').append(h4c);  
            
                        h5a = $(this).nextUntil('h4','h5');
                        h5a.each(function() {
                            h5n = $(this).prop('tagName').toLowerCase();
                            h5t = $(this).text();
                            h5c = $('<a href="'+h5i+'" rel="nofollow">'+h5t+'</a>');
                            h5l = $('<ol class="'+h5n+'_nav"></ol>').append(h5c);  
            
                            h6a = $(this).nextUntil('h5','h6');
                            h6a.each(function() {
                                h6n = $(this).prop('tagName').toLowerCase();
                                h6t = $(this).text();
                                h6c = $('<a href="'+h3i+'" rel="nofollow">'+h3t+'</a>');
                                h6l = $('<ol class="'+h3n+'_nav"></ol>').append(h3c);
            
                                h5l.append(h6l);       
                            });
                            h4l.append(h5l);       
                        });
                        h3l.append(h4l);       
                    });
                    h2l.append(h3l);       
                });
                h1l.append(h2l);                             
            });
            $(selector).append(h1l);                         
        });
        return true;
    }

    generateCatalog(".catalog-body");

    // toggle side catalog
    $(".catalog-toggle").click((function(e){
        e.preventDefault();
        $('.side-catalog').toggleClass("fold")
    }))

    /*
     * Doc: https://github.com/davist11/jQuery-One-Page-Nav
     * Fork by Hux to support padding
     */
    async("{{ '/js/jquery.nav.js' | prepend: site.baseurl }}", function () {
        $('.catalog-body').onePageNav({
            currentClass: "active",
            changeHash: !1,
            easing: "swing",
            filter: "",
            scrollSpeed: 700,
            scrollOffset: 0,
            scrollThreshold: .2,
            begin: null,
            end: null,
            scrollChange: null,
            padding: 80
        });
    });
</script>
{% endif %}

